* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", Arial, sans-serif;
}
body {
    background: url('./bg.png');
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.1;
}
h1{
    line-height: 35px;
    font-size: 1.4rem;
}
p{
    padding: .27em 0;
    line-height: 1.75;
}
.center{
    background: rgba(255,255,255,0.6);
    width: 400px;
    height: 500px;
    box-shadow: 0 0 10px #cccccc;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*
    逻辑：
    宽度720以上：
*/